<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
       <div class="form-group">
           <label for="name" class="text-light">Name</label>
           <input type="hidden" name="id" value="">
           <input type="text" name="name" value="" placeholder="Joaquim Timoteo">
       </div>
       <div class="form-group">
           <label for="Email" class="text-light">Email</label>
           <input type="text" name="email" value="" placeholder="example@gmail.com">
       </div>
       <div class="form-group">
           <div class="radio inline">
               <label for="gender" class="radio-label">Gender</label>
               <input id="status" type="radio" name="gender" value="Male">
               <label for="gender" class="radio-label">Male</label>
               <input type="radio" name="gender" value="Female">
               <label for="gender" class="radio-label">Female</label>
           </div>
          
       </div>
       <div class="form-group radio-container">
           <label  id="status" for="gender" class="radio-label">Status</label>
           <input  type="radio" id="label1"name="Status" value="Active">
           <label  id="status" for="gender" class="radio-label">Active</label>
           <input id="status"  class="label2"type="radio"  name="Status" value="inactive">
           <label  id="status" for="gender" class="text-light">Inactive</label>
       </div>
           <button type="submit" class="btn text-dark update">Save</button>
           </div>
       
    </div>
   </form>